html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.navbar-custom {
  background-color: #333533;
}

#deskripsi,
.jumbotron {
  height: 100vh;
  background-size: cover;
}

/* Navbar awal */
.navbar form {
  padding-left: 10px;
  padding-right: 10px;
}
.sun {
  padding-top: 3px;
  padding-right: 7px;
  color: yellow;
}

.moon {
  padding-top: 2.4px;
  color: blue;
}
/* Navbar akhir */

/* Awal dari Jumbotron */
.jumbotron .container {
  margin: 20px auto;
}

.jumbotron img {
  width: 20%;
}

.jumbotron #tsukilas {
  font-size: 2.9rem;
  font-family: "Eczar", serif;
  font-weight: 600;
}

.jumbotron img {
  transform: scale(2.2);
}

.jumbotron p {
  font-size: 1.8rem;
}
/* End of Jumbotron */

/* Bagian deskripsi eskul */
#deskripsi h2 {
  font-weight: 500;
  font-family: "Kufam", cursive;
}

#deskripsi h2 {
  font-size: 2.3rem;
}

#deskripsi p {
  font-size: 1.3rem;
}
/* Bagian Akhir Deskripsi */

/* Bagian Awal KataOrang */
#KataOrang {
  height: 83vh;
  background-size: cover;
}
/* Bagian Akhir KataOrang */

#gambar {
  height: 100vh;
  background-size: cover;
}
/* Bagian akhir gambar */

footer {
  padding-top: 20px;
  height: 20vh;
  background-size: cover;
}
