html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

#deskripsi,
.jumbotron {
  height: 100vh;
  background-size: cover;
}

/* Awal dari Jumbotron */
.jumbotron {
  background-color: #fff !important;
}

.jumbotron .container {
  margin: 20px auto;
}

.jumbotron img {
  width: 20%;
}

.jumbotron #tsukilas {
  font-size: 2.9rem;
  font-family: "Eczar", serif;
  font-weight: 600;
}

.jumbotron img {
  transform: scale(2.2);
}

.jumbotron p {
  font-size: 1.8rem;
}
/* End of Jumbotron */

/* Bagian deskripsi eskul */
#deskripsi {
  background-color: #fdfffc;
}

#deskripsi h2 {
  font-weight: 500;
  color: #353535;
  font-family: "Kufam", cursive;
}

#deskripsi h2 {
  font-size: 2.3rem;
}

#deskripsi p {
  font-size: 1.3rem;
  color: #011627;
}
/* Bagian Akhir Deskripsi */

/* Bagian Awal KataOrang */
#KataOrang {
  height: 83vh;
  background-size: cover;
}

/* Bagian Akhir KataOrang */

/* Bagian Gambar */
#gambar {
  background: linear-gradient(
    to bottom,
    #363940 0%,
    #363940 13.5%,
    #2b2d42 35%,
    #2b2d42 100%
  );
  height: 100vh;
  background-size: cover;
}
/* Bagian akhir gambar */

footer {
  padding-top: 20px;
  height: 20vh;
  background-size: cover;
}
