@media (min-width: 474px) and (max-width: 564px) {
  #gambar img {
    width: 80%;
    margin-left: 50px;
  }
}

@media (max-width: 576px) {
  .jumbotron .container {
    margin: 60px auto;
  }

  .jumbotron img {
    width: 35%;
    transform: scale(1.4);
  }

  .jumbotron #tsukilas {
    font-size: 2.4rem;
  }

  .jumbotron p {
    font-size: 1.4rem;
  }

  #deskripsi h2 {
    font-size: 2rem;
  }

  #deskripsi p {
    font-size: 1.05rem;
  }

  #gambar {
    height: 300vh;
  }

  footer {
    height: 28vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .jumbotron .container {
    margin: 30px auto;
  }

  .jumbotron img {
    width: 29%;
    transform: scale(1.6);
  }

  #deskripsi h2 {
    font-size: 2rem;
  }

  #deskripsi p {
    font-size: 1rem;
  }

  #gambar {
    height: 350vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .jumbotron .container {
    margin: -10px auto;
  }

  .jumbotron img {
    width: 28%;
    transform: scale(1.8);
  }

  #deskripsi h2 {
    font-size: 2.1rem;
  }

  #deskripsi p {
    font-size: 1.1rem;
  }

  #gambar img {
    transform: scale(1.2);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .jumbotron .container {
    margin: -15px auto;
  }

  .jumbotron img {
    width: 22%;
    transform: scale(2);
  }

  #deskripsi h2 {
    font-size: 2.1rem;
  }

  #deskripsi p {
    font-size: 1.1rem;
  }
}
